:root {
  --lastUpdate: "long time ago";
}
.fakeimg {
  height: 200px;
  background: var(--bs-dark);
}
.glavno {
  position: relative;
}
.opis {
  word-break: break-word;
}
.center-center {
  margin: auto;
}
.zadnjaPosodobitev::after {
  content: var(--lastUpdate);
}
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
details p {
  padding-left: 20px;
  margin-top: 16px;
}
