:root {
  --lastUpdate: "WIP";
}
a {
  color: #0b3a80;
}
.nounderline {
  text-decoration: none;
}
.fakeimg {
  height: 200px;
  background: var(--bs-dark);
}
.glavno {
  position: relative;
}
.opis {
  word-break: break-word;
}
.center-center {
  margin: auto;
}
.zadnjaPosodobitev::after {
  content: var(--lastUpdate);
  font-weight: bold;
}
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.carousel-inner {
    border-radius: 5px;
}
details p {
  padding-left: 20px;
  margin-top: 10px;
  word-break: break-word;
}
summary {
  position: sticky;
  top: 0;
  background-color: white;
  padding-bottom: 5px;
}
details[open] summary {
  border-bottom: 1px solid #c8c9ca;
}

.newsBox {
  border: #CECECF solid 0.5px;
  height: 300px;
  overflow-y: scroll;
  padding: 10px;
  resize: vertical;
}
.newsCard {
  background-color: blanchedalmond;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 765px) {
  .carousel-caption {
    display: none;
  }
}
